{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Story 5</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'todo/biodata.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min/js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <div class="bar-bg align-item-center justify-content-center text-center">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/biodata"><b>BIODATA</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">LIST</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DOWNLOAD CV</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  

    <div class="backgroundbody align-item-center justify-content-center text-center">
        <div class="container">
                <div class="row">
                  <div id="header" class="col">
                    BIODATA 
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img src="{% static 'todo/483326.jpg' %}" class="img center">    
                  </div>
                  <div class="col r">
                        <h3>Nama : Marcel Valdhano</h3>
                        <h3>NPM : 1806191401 </h3>
                        <h3>Angkatan : 2018</h3>
                        <h3>Riwayat Pendidikan :<h3>
                        <h4><ul>
                                <li>2018-Now  : Universitas Indonesia</li>
                                <li>2015-2018 : SMA Sutomo 1 Medan</li>
                                <li>2012-2015 : SMP Sutomo 1 Medan</li>
                                <li>2006-2012 : SD Sutomo 1 Medan</li>
                                </ul></h4>
                        <h3>Hobi : Travelling</h3>
                  </div>
                  <div class="row">
                        <div class="col desc">
                                        <h1 class="des">Deskripsi tentang saya :</h1>  
                                        <p>
                                                Nama saya Marcel Valdhano. Saya adalah anak ke-2 dari 3 bersaudara.
                                                Saya adalah anak kelahiran 12 Februari 2000 yang lahir di Medan, Sumatera Utara. 
                                                Sekarang saya sedang menempuh pendidikan di Jawa Barat dengan institusi yang bernama Universitas Indonesia dengan jurusan Sistem Informasi.
                                        </p>
                                        <p>
                                                Secara kepribadian saya orangnya humoris dan mudah diajak untuk berbicara.
                                                Selain itu, saya juga ramah dan murah senyum terhadap siapapun yang ada disekitar saya.
                                                Saya inisiatif membantu orang lain yang sedang kesusahan.
                                        </p>
                                        <p>
                                                Dalam setiap pribadi pasti mempunyai kekurangan begitupun dengan saya. 
                                                Saya tidak suka dengan orang yang sombong dan suka berbohong, karena menurut Saya jujur dan rendah hati adalah hal paling mendasar untuk bisa menjadi pribadi yang lebih baik.
                                                Saya lebih suka menghabiskan waktu diluar rumah dengan kegiatan tidak jelas dan mencari pengalaman baru dibandingkan dirumah tanpa memiliki tugas apapun.
                                        </p>
                                        <p>
                                                Menurut Saya keluarga adalah orang-orang yang telah meng-<i>support</i> atau memberi semangat kepada saya dikondisi apapun baik susah maupun senang.
                                                Saya selalu bersyukur dengan apa yang telah Tuhan berikan kepada saya sampai saat ini tanpa membandingkan diri dengan orang lain.
                                        </p>  
                        </div>
                      </div>
              </div>                  
          <a href="/" class="back"><b>-- BACK </b></a>    
    </div>

    <div class="bar-bg bar">
      <h5 class="buttom">© 2023 by Marcel Valdhano.</h5>
      

    </div>


  </body>
</html>