{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Story 5</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'todo/biodata.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min/js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <div class="bar-bg align-item-center justify-content-center text-center">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/biodata">BIODATA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list"><b>LIST<b></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DOWNLOAD CV</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  

    <div class="backgroundbody align-item-center justify-content-center text-center">
        <div class="container">
                <div class="row">
                  <div id="header" class="col">
                    TO DO LIST
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <form action='' method="POST">
                          {% csrf_token %}
                          <table align="center">
                                {{ form.as_table }} 
                          </table>
                            <button type="submit">SUBMIT</button>
                      </form>
                      
                        </div>
                      </div>
                    <table style="width:100%">
                        <tr>
                            <th>Hari</th>
                            <th>Tanggal</th>
                            <th>Jam</th>
                            <th>Kegiatan</th>
                            <th>Tempat</th>
                            <th>Kategori</th>
                            <th>delete</th>
                        </tr>
                        {% for i in todo %}

                        <tr>
                            <td>{{i.hari}}</td>
                            <td>{{i.tanggal}}</td>
                            <td>{{i.jam}}</td>
                            <td>{{i.kegiatan}}</td>
                            <td>{{i.tempat}}</td>
                            <td>{{i.kategori}}</td>
                            <td><a href="{% url 'delete' i.id %}">delete</a></td>
                          
                          </tr>
                    {% endfor %}

                       

                    </table>
              
            
                      </div>
                               
          <a href="/" class="back"><b>-- BACK </b></a>    
    </div>

    <div class="bar-bg bar">
      <h5 class="buttom">© 2023 by Marcel Valdhano.</h5>
      

    </div>


  </body>
</html>