.bar-bg{
    border: 2px solid black;
    background-color: #DBAD5D;
    opacity:0.9;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.backgroundbody{
    border: 2px solid black;
    background-color: #DBAD5D;
}

.bar{
    height: 40px;
    background-color: #DBAD5D;
    opacity: 0.9;
}
.buttom{
    color: black;
    margin-left: 10px;
    margin-top: 6px;
}
.my{
    margin-left: 36px;
    margin-top: 24px;
    font-size: 96px;
    color: black;
    opacity: 0.66;
}
.box{
    border: 2px solid black;
    margin-top:20px;
    margin-left: 36px;
}
.boxm{
    border: 2px solid black;
    width: 100%;
    height: 150px;
    margin-right: 100px;    
    margin-top:20px;
}
.name{
    margin-left: 36px;
    font-size: 96px;
    color: black;
    opacity: 0.81;
}
.marcel{
    margin-left: 36px;
    font-size: 96px;
    color: black;
}
.tombol{
    color: white;
    background-color: #9D9D9D;
    margin-left:88%;
    margin-top: 3px;

}
.gambar{
    height: 780px;
    width: 600px;
    margin-top: 6px;

}
.img{
    border-radius: 100%;
    margin-top: 50px;
    width: 300px;
    height: 320px;
}
.desc{
    margin-left: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    
}
.des{
    margin-left: 20px;
}

.r{
    margin-top: 50px;
    margin-left: 20px;
 
}
#header{
    font-family: calibri;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.back{
    color: black;
    font-size: 20px;
    margin-left: 15px;
}